{% load staticfiles %}
<div class="container">
	<div class="cols-services col-md-12 col-sm-12">
		<div class="diagonal-shadow3"></div>
	</div>
</div>

<div id="campaign" class="row container-campaign">
	<div class="cols-campaign col-md-12 col-sm-12">
		<div class="wrapper-campaign leftContent-campaign">
			<div class="leftBackgroundImage-campaign"></div>
			<div class="backgroundColor-campaign"></div>
			<div class="content-campaign">
				<div class="contentTxt-campaign">
					<div class="title-campaign">Más prospectos de alta calidad</div>
					<hr size="8px" style="width: 14%; position: relative; left: -42%; top:-10px; color: #c2c2c2" />
					<div class="description-campaign">
						<p>Con concursos inteligentes que interactúan con los prospectos.</p>
					</div>
				</div>
			</div>
			<div class=" col-md-1 diagonal-div"></div>
				<div class="campaign col-md-4">
				<br>
					<div class="text"><br><br>
						<h2 class="text">Concursos</h2>
						<p class="text">Mejora tu ROI con campañas que atraen los prospectos correctos para convertir en clientes. </p>
					</div>
					<div class="text"><br><br>
						<h2 class="text">Plantillas</h2>
						<p class="text">Nosotros hacemos todos los diseños de las plantillas para que sea más fácil de crear tus campañas. </p>
					</div>
					<div class="text"><br><br>
						<h2 class="text">Contenido</h2>
						<p class="text">Nuestro sistema de contenido hace recomendaciones de palabras y frases que te ayudaran a convertir más  prospectos en clientes. </p>
					</div>
				</div>
			
		</div>
	</div>
<div class="container">
	<div class="cols-services col-md-12 col-sm-12">
		<div class="diagonal-shadow4"></div>
	</div>
</div>
