{% load staticfiles %}
<div class="container-started">
	<div class="title-section">
		<div class="content-title-icon s-animate s-scroll v_hidden" data-space="0.6" data-animation="zoomIn" data-time="0.3">
			<i class="fa fa-bullhorn" aria-hidden="true"></i>
		</div>
		<h1 class="s-animate s-scroll v_hidden" data-space="0.6" data-animation="fadeInLeft" data-time="0.7">¿Qué estás esperando?</h1>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 ct-t content-btns content-btns2">
		<div class="ct-t">
			<div class="_btn _btn-red _left s-animate s-scroll v_hidden" data-space="0.6" data-animation="zoomIn" data-time="1.8">
				<p>
					<a>Iniciar sesión</a>
				</p>
			</div>
			<div class="_btn _btn-green _left s-animate s-scroll v_hidden" data-space="0.6" data-animation="zoomIn" data-time="2.0">
				<p>
					<a href="register.php">Registrarse</a>
				</p>
			</div>
		</div>
	</div>
</div>