a:link {
	text-decoration:none;
	color:#F5495D;
} 

a:visited {
	text-decoration:none;
	color:#F5495D;
} 

a:active {
	text-decoration:none;
	color:#F5495D;
} 

a:hover {
	text-decoration:underline;
	color:#F5495D;
} 

.p_text{
	font-size: 20px;
	color: #fff;
}

.p_text_2{
	font-size: 20px;
	color: #F5495D;
}