{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>ivi</title>

    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/general.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style_client.css' %}" rel="stylesheet" />
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'assets/plugins/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'js/client-scripts.js' %}"></script>
    <style type="text/css">
        @font-face {
            font-family: ginora;
            src: url({% static 'fonts/TinueRoad.ttf' %});
        }
    </style>
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none; color: #F5495D;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Cerrar &times;</button>
        <a href="#" class="w3-bar-item w3-button">Inicio</a>
        <a href="#" class="w3-bar-item w3-button">Estadísticas</a>
        <a href="#" class="w3-bar-item w3-button">Árbol de referidos</a>
    </div>

    <div zclass="w3-main" id="main">

    <section>
        <div class="col-md-12" style="top: 15px; position: absolute; color: #FFF;">
            <div class="col-md-1" > <button class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button> </div>
            <div class="col-md-11" style="font-size: 30px; color: #fff;"> {{admin.company_name}} </div>
        </div>
    </section>

	<section class="color-white ">
       <div class="container" >
			<div class="row text-center" >
				<div class="col-md-12" style="width: 100%;">
					<div class="col-md-6">
                        <button class="big-opt">
                            <img src="{% static 'images/contest.png' %}" style="width: 70%">
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="big-opt">
                            <img src="{% static 'images/videocontest.png' %}" style="width: 80%">
                        </button>
                    </div>
				</div>
			</div>
            <h1></h1>
            <div class="row" style="border: 2px solid #F5495D;">
                <div class="col-md-12 analytics-header">
                    <div class="col-md-8">
                        <h3>Reporte quincenal</h3>
                        <img src="{% static 'images/example.png' %}" style="top: 10px;"> 
                        <h3></h3>
                    </div>
                    <div class="col-md-4">
                        <h3>Resumen semanal</h3>
                        <p>Número de likes en el fanpage</p>
                        <progress class="progressbar" value="50" max="200"></progress>
                        <p>Número de nuevos usuarios registrados con facebook</p>
                        <progress class="progressbar" value="50" max="150"></progress>
                        <p>Número de menciones en facebook</p>
                        <progress class="progressbar" value="50" max="100"></progress>
                    </div>    
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <h1></h1>
                    <div class="col-md-3">
                        <button class="analytics-box">
                            Botón
<!--                            <img src="{% static 'images/videocontest.png' %}" style="width: 80%">-->
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="analytics-box">
                            Botón
<!--                            <img src="{% static 'images/videocontest.png' %}" style="width: 80%">-->
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="analytics-box">
                            Botón
<!--                            <img src="{% static 'images/videocontest.png' %}" style="width: 80%">-->
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="analytics-box">
                            Botón
<!--                            <img src="{% static 'images/videocontest.png' %}" style="width: 80%">-->
                        </button>
                    </div>
                </div>
                <h1>.</h1>
            </div>
		</div>
	</section>
</body>
</html>